

%section.lander 
  .coverimage
    %figure.network-cover.fluidratio
  .wrapper
    .lander-content-container
      .lander-content.network-lander-content
        %h1 FARMTABLE
        %p.lander-description
          One-stop Shop for local farms and local buyers
        %br/ 
        %br/
        %a.elegant-button
          Enter Now

%section.about{:id => "about"}
  .wrapper
    .about-content
      %br/ 
      %br/ 
      %h2
        Farmtable is a one-stop-shop for farms and restaurants
      %br/
      %p
        Never before have more businesses shopped local for promoting healthy eating. We streamline the process for connecting restaurants and farms so everyone can focus on the bottom line- to serve customers. By using the power of technology we are working to support the best local farmers get a direct link to the end consumer.
      %br/
      %br/
      .elegant-button-dark 
        = link_to "PRODUCERS", "#producers"
      .elegant-button-dark
        = link_to "BUYERS", "#buyers"


%section.producerimg
  %h1.producertext
    FarmTable
    %br/
    for
    %br/
    Producers

%section.about{:id => "producers"}
  .wrapper
    .about-content
      .about-columns
        .about-column.about-column-left
          .about-column-title
            .ss-compose.about-column-title-icon
            .about-column-title-text EASY
          .about-column-content
            %p
              Expose your farm within seconds without the hassle of cumbersome web development team
        .about-column
          .about-column-title
            .ss-wrench.about-column-title-icon
            .about-column-title-text EFFORTLESS
          .about-column-content
            %p
              Broadcast real-time availability list, gather orders, and maintain digital reports
        .about-column
          .about-column-title
            .ss-moneybag.about-column-title-icon
            .about-column-title-text SAFE
          .about-column-content
            %p
              No more stress about late payment. We can handle the invoicing process. OR if you prefer, collect payments offline
        %br/
        %br/
        %br/
        %a.elegant-button-dark
          JOIN AS A PRODUCER

%section.buyerimg
  %h2.buyertext
    FarmTable
    %br/ 
    for
    %br/
    Buyers

%section.about{:id => "buyers"}
  .wrapper
    .about-content
      .about-columns
        .about-column.about-column-left
          .about-column-title
            .ss-compose.about-column-title-icon
            .about-column-title-text EFFICIENT
          .about-column-content
            %p
              Within seconds, discover the carefully curated farms online, producer history, location, certifications.
        .about-column
          .about-column-title
            .ss-wrench.about-column-title-icon
            .about-column-title-text QUICK
          .about-column-content
            %p
              With the power of software, place order, track your delivery, and maintain invoices.

        .about-column
          .about-column-title
            .ss-moneybag.about-column-title-icon
            .about-column-title-text FRESH
          .about-column-content
            %p
              Items are picked and packed so your ingredients will arrive as fresh as possible. 
      %br/
      %br/
      %br/
      %a.elegant-button-dark
        JOIN AS A BUYER
      %br/
      %br/
      /%i.fa.fa-laptop.fa-4x.fa-fw


= render :partial => "layouts/google_analytics_script" unless on_dashboard?
